<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itfenbao.gadmins.admin.mapper.DbMapper">

    <select id="listTableByPage" resultType="java.util.Map">
        select * from information_schema.TABLES
        <if test="ew != null">
            ${ew.customSqlSegment}
        </if>
    </select>

    <select id="listColumnByPage" resultType="java.util.Map">
        select
        `COLUMN_NAME`, COLUMN_DEFAULT, IS_NULLABLE, DATA_TYPE, COLUMN_TYPE, COLUMN_KEY, EXTRA, COLUMN_COMMENT
        from information_schema.columns
        <if test="ew != null">
            ${ew.customSqlSegment}
        </if>
    </select>

    <select id="listTableDataByPage" resultType="java.util.Map">
        select * from ${name}
        <if test="ew != null">
            ${ew.customSqlSegment}
        </if>
    </select>

</mapper>
