<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itfenbao.gadmins.admin.mapper.FunctionMapper">

    <select id="getListPidIsNull" resultType="com.itfenbao.gadmins.admin.data.vo.FunctionVO">
        select _func.id, concat(_func.func_desc,' - ', _func.func_code) as title, _func.func_code
        as `key`, _func.elink, _func.front_url
        as
        `url` from sys_admin_function as _func
        where _func.enable = 1 and _func.p_id is null
    </select>
    <select id="queryPIds" resultType="java.lang.Integer">
        select _function.menu_func_id from sys_admin_rl_function_role as _function_role left join sys_admin_function as
        _function on _function.id = _function_role.func_id
        <if test="ew != null">
            ${ew.customSqlSegment}
        </if>
    </select>
    <select id="queryAuthFunctions" resultType="com.itfenbao.gadmins.admin.data.vo.AuthFunciontVO">
        select _function.id, _function.func_code as `code`, _function.front_url as url from sys_admin_rl_function_role as _function_role left join
        sys_admin_function as
        _function on _function.id = _function_role.func_id
        <if test="ew != null">
            ${ew.customSqlSegment}
        </if>
    </select>
    <select id="queryAllFunctionPoints" resultType="com.itfenbao.gadmins.admin.data.vo.AuthFunctionPointVO">
        select _function.id, _function.func_code as `code`, _function.btn_group, _function.title, _function.front_url,
        _function_config.api_url, _function_config.api_method from sys_admin_function as
        _function
        left join sys_admin_function_config as _function_config on _function.id = _function_config.func_id
        <if test="ew != null">
            ${ew.customSqlSegment}
        </if>
    </select>
    <select id="quertByRoles" resultType="com.itfenbao.gadmins.admin.data.vo.AuthFunctionPointVO">
        select _function.id, _function.func_code as `code`, _function.btn_group, _function.title, _function.front_url,
        _function_config.api_url, _function_config.api_method from sys_admin_rl_function_role as
        _function_role
        left join sys_admin_function as _function on _function.id = _function_role.func_id
        left join sys_admin_function_config as _function_config on _function.id = _function_config.func_id
        <if test="ew != null">
            ${ew.customSqlSegment}
        </if>
    </select>
    <select id="queryIdsByRoles" resultType="java.lang.Integer">
        select _function.id from sys_admin_rl_function_role as
        _function_role
        left join sys_admin_function as _function on _function.id = _function_role.func_id
        left join sys_admin_function_config as _function_config on _function.id = _function_config.func_id
        <if test="ew != null">
            ${ew.customSqlSegment}
        </if>
    </select>
</mapper>
