<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itfenbao.gadmins.admin.mapper.MenuMapper">

    <select id="getAllMenu" resultType="com.itfenbao.gadmins.admin.data.vo.MenuVO">
        select _menu.*, _func.`front_url` from sys_admin_menu as _menu
        left join sys_admin_function as _func
        on _menu.`fun_id` = _func.`id` where _menu.enable = 1
    </select>

</mapper>
