<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itfenbao.gadmins.admin.mapper.MenuMapper">

    <select id="getAllMenu" resultType="com.itfenbao.gadmins.admin.data.vo.MenuVO">
        select _menu.*, _func.`front_url`, _func.elink from sys_admin_menu as _menu
        left join sys_admin_function as _func
        on _menu.`func_id` = _func.`id` where _menu.enable = 1
    </select>
<!--    <select id="getAllMenuByUserId" resultType="com.itfenbao.gadmins.admin.data.vo.MenuVO">-->
<!--        select * from sys_admin_menu where id in (select menu_id from sys_admin_rl_menu_role where role_id in (select-->
<!--        role_id from sys_admin_rl_account_role where account_id = 2) datawayGroup by menu_id)-->
<!--    </select>-->
    <select id="getAllMenuTree" resultType="com.itfenbao.gadmins.admin.data.treenode.MenuTreeNode">
        select _menu.id, _menu.p_id as parentId, _menu.type, _menu.icon, _menu.txt as `title`, _menu.sort_number,
        _menu.func_id,_menu.m_code as `key`,_func.elink, _func.front_url as `url` from sys_admin_menu as _menu left join
        sys_admin_function as _func on _menu.func_id = _func.id where _menu.enable = 1 order by _menu.sort_number
    </select>
    <select id="getAllParentMenuTree" resultType="com.itfenbao.gadmins.admin.data.treenode.MenuTreeNode">
        select _menu.id, _menu.p_id as parentId, _menu.type, _menu.icon, _menu.txt as `title`, _menu.sort_number,
        _menu.func_id,_menu.m_code as `key`,_func.elink, _func.front_url as `url` from sys_admin_menu as _menu left join
        sys_admin_function as _func on _menu.func_id = _func.id where
        <if test="ids != null">
            _menu.id not in
            <foreach item="item" index="index" collection="ids"
                     open="(" separator="," close=")">
                #{item}
            </foreach>
            and
        </if>
        _menu.enable = 1 and (_menu.type = 'SYS_MENU' or
        _menu.type = 'NAV_MENU') order by _menu.sort_number
    </select>
    <select id="getListByPage" resultType="com.itfenbao.gadmins.admin.data.vo.FunctionMenuVO">
        select _function.id, _function.func_group, _function.func_desc, _menu.m_code as code, _menu.txt as title,
        _function.elink, _function.front_url, _menu.sort_number, _function.created_at, _function.updated_at,
        _function.enable
        from sys_admin_menu as _menu
        left join sys_admin_function as _function on _function.id = _menu.func_id
        <if test="ew != null">
            ${ew.customSqlSegment}
        </if>
    </select>

    <update id="updatePidIsNULL">
        UPDATE sys_admin_menu SET p_id = NULL where id = ${id}
    </update>

</mapper>
